.carousel {
  height: 100vh;
}

.carousel-item {
    height: 100vh;
    // min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-item__img {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  width: 100%;

  &__slide-title {
    font-size: 6rem;
    font-weight: 100 !important;
    margin-bottom: -5rem;
  }

  &__slide-heading {
    // margin: -3rem 0 -4rem 0;
    font-size: 11rem;
    font-weight: bold;
  }
}

.arrows {
  top: none !important ;
}

.carousel-indicators {
  display: flex !important;
  // flex-direction: column;
  align-self: flex-start;
  // padding: 1rem;

  & ol {
    
  }

  & li {
    align-items: flex-start;
    margin: 10px;
  }
}

.overlay {
	opacity: .4;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: #000;
	overflow: hidden;
	z-index: 2;
	}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 21rem;
  margin-top: 10rem;


  &__title {
    background: linear-gradient(to right, #fad433 0%,#f55203 100%);
    color: #fff;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 20px;

  }

  &__text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #fad433 0%,#f55203 100%);
    border-image-slice: 1;
    border-width: 3px;
    font-size: 3rem;
    color: #606060;
    font-weight: 600;
    line-height: 3rem;
    padding: 1rem;

  }

  
}





.divider2 {
  background: url('https://placeimg.com/1000/980/arch/grayscale') center center no-repeat;
  height: 90rem;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &-btn {
    margin-top: 70rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    font-weight: 100;
    background: #ffffff1a;
    border: solid 1px #707070;
    color: #D1D1D1;
    letter-spacing: .5rem;
  }
}

.shop {
  text-align: center; 
}

.shop-shoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shoe {
  height: 25rem;
  padding: 2rem;
}

.men-shoes {
  background: url('@../../assets/img/men-shoes.jpg');
  height: 70rem;
  display: flex;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;

  &-content {
    margin-left: 60rem;
  }
}

.newsletter {
  background-color: #D1D1D1;
  height: 20rem;

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



}