header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7000 !important;
  background: rgb(245,82,3);
  transition: ease-in-out .5s;
}
.padding-menu-3{
  padding: 3rem 2rem;
  cursor: pointer;
}
.padding-menu-2{
  padding: 1rem 2rem;
}
.wrap-bra-bur{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 20%;
}
.nav-brand{
  width: 15%;
  cursor: pointer;
}
/*BURGER MENU*/
.burger-menu{
  position: relative;
  z-index: 1;
  width: 30%;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}
.burger-menu input[type="checkbox"]{
  display: block;
  width: 35px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 7005;
  -webkit-touch-callout: none;
  
}
.burger-menu span{
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1px;
  transition: 0.5s;
  border-radius: 3px;
}
.burger-menu input[type="checkbox"]:checked ~ span:nth-child(2) {
  transform: rotate(-45deg) translate(-6px, 9px);
}
.burger-menu input[type="checkbox"]:checked ~ span:nth-child(3) {
    margin-left: -60px;
    opacity: 0;
}
.burger-menu input[type="checkbox"]:checked ~ span:nth-child(4) {
    // background-color: blue;
    transform: rotate(45deg) translate(-6px, -9px);
}
/*MENU SEACH*/
.wrap-links-search{
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.dispaly-flex{
  display:flex;
}



.wrap-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  // width: 100%;
}
.nav-link{
  margin-left: 5vh;
  color: #FFFFFF;
  font-size: 1.7rem;
}
.nav-link:hover{
  color: #FFCD2E;
}

.wrap-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;  
  height: 100%;
 
  transition: ease-in-out 1s;
  // align-items: flex-start;
}
.nav-search{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40px;
  margin-left: 10px;
  transition: ease-in-out .5s;
    input{
      border-radius: 25px;
      border: none;
      margin-right: 10px;
      margin-left: 50%;
      width: 0%;
      transition: ease-in-out .5s;
    }

  .search-icon:hover{
    cursor: pointer;
  }
}
.nav-search:hover .input-search{
  width: 100%;
  margin-left: 0%;
  padding: 0rem .7rem;
}
.nav-search:hover {
  width: 180px;
 
}
.test{
  display: none;
}

@media (max-width: 1000px){
  
  .nav-link{
    // font-size: 1.8rem;
    font-size: 15px;
    margin-left: 2vh;   
  } 

}
@media (max-width: 790px){
  header{
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(245,82,3) 10%, rgba(245,82,3, 0.2) 90%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  .display-flex{
    display: flex;
  }
  .wrap-links-search{
    position: relative;
    top:0;
    left: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 0px;
    overflow: hidden;
  }
  .wrap-nab{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 0px;
  }
  .wrap-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-link{
    text-align: right;
    padding: 5px 0px 5px 10px;
  }
  .display-none{
    height: 0px;
    animation-name: testTwo;
    animation-duration: .5s; 
  }

  @keyframes testTwo {
    0% {height:227px;}
    10% {height:204.3px;}
    20% {height:181.6px;}
    30% {height:158.9px;}
    40% {height:136.2px;}
    50% {height:113.5px;}
    60% {height:90.8px;}
    70% {height:68.1px;}
    80% {height:45.4px;}
    90% {height:22.7px;}
    100% {height:0px;}
  }
  .nav-links-height{
    height: 227px;
    animation-name: test;
    animation-duration: .5s;
  }

  @keyframes test {
  
    0% {height:0px;}
    10% {height:22.7px;}
    20% {height:45.4px;}
    30% {height:68.1px;}
    40% {height:90.8px;}
    50% {height:113.5px;}
    60% {height:136.2px;}
    70% {height:158.9px;}
    80% {height:181.6px;}
    90% {height:204.3px;}
    100% {height:227px;}
    
  }
 

  .wrap-bra-bur{
    width: 100%;
  }
  .burger-menu{
    display:flex;
  }
}









  

  