header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    position: absolute;
    z-index: 7000 !important;
    background: rgb(245,82,3);
}

.nav-brand{
  width: 10%
}
  

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  width: 50%;  
  .navbar-nav{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-end;
    .nav-item{
      .nav-link{
        margin-left: 25px;
        color: #FFFFFF;
        font-size: 1.2rem;
      }
      .nav-link:hover{
        color: #FFCD2E;
      }
    }
  }
}

.nav-link:hover{
  color: #FFCD2E;
}
.nav-search{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
    input{
      border-radius: 25px;
      border: none;
      margin-right: 10px;
      margin-left: 50%;
      width: 0%;
      transition: ease-in-out .5s;
    }

  .search-icon:hover{
    cursor: pointer;
  }
}
.nav-search:hover .input-search{
  width: 100%;
  margin-left: 5%;
  padding: 0rem 1rem;
}
@media (max-width: 1000px){
  .menu__logo {
    max-width: 400px;
    width: 100%;
  }
}









  

  